/* .App {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
} */

/* @import-normalize; */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500&display=swap');

* {
    font-family: 'Raleway', sans-serif; 
}