.LeftNav-container {
    background-color: #D3D5D4;
    color: #2f3236;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 19%;
    top: 0;
}
a {
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

a:visited{
    color:white;
}

.top-nav-btn {
    text-decoration: none;
    font-size: 18px;
    margin: 5px 50px 5px 0px;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid transparent;
    color: #61666e;
    background-color: transparent;
    border-radius: 10px;
}

.logout {
    padding:20px;
}

.logout, .initials, .left-nav-links {
    display: flex;
    justify-content: center;
}

.left-nav-links {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    height: 50%;
    justify-content: flex-start;
    padding: 0px 20px 0px 20px;
}

.left-nav-links a {
    padding: 10px;
    margin: 10px;
    color: #2f3236;
}

.left-nav-links a:hover {
    background-color: #b4b4b4;
    border-radius: 10px;
}

.logo {
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: center;
}

.book-appt-btn {
    
}

