.body-container {
    display: flex;
    flex-direction: row;
}

.body-content-container {
    padding: 2%;
   width: 100%;
}

.page-header {
    text-align: center;
    font-size: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.book-btn {
    padding-left: 20px;
    padding-right: 20px;
}

.new-appointment, .block-btn {
    background: linear-gradient( 
        21deg
         , rgba(2,0,36,1) 0%, rgb(34, 117, 96) 0%, rgb(41, 241, 198) 100%);
    border: none;
    border-radius: 10px;
    color: white;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

.block-btn {
    background: linear-gradient( 
        21deg
         , rgba(2,0,36,1) 0%, rgb(117, 34, 34) 0%, rgb(241, 41, 41) 100%);
}

/* .calendar-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

