.top-nav-container{
    display: flex;
    background-color: #cecece;
    justify-content: flex-end;
    /* padding-right: 25px; */
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 25px 50px 15px 0px;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid transparent;
    color: white;
}


/* a:hover {
    border-bottom: 1px solid black;
} */

a:visited{
    color:black;
}

.initials-span {
    background-color: black;
    color: white;
    border-radius: 100%;
    margin: 5px;
    padding: 9px;
}

.top-nav-btn {
    background-color: blue;
    border-radius: 10px;
}