.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a.signup-link, h3 {
    color: black;
    font-size: 15px;
}

a:hover {
    text-decoration: underline;
}