.availability-setup-container input, .availability-setup-container select {
    border: none;
}

.availability-setup-container {
    padding: 25px;
}

.modal-header {
    text-align: center;
}

.modal-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-package-form {
    display: flex;
    flex-direction: column;

}

/* .new-package-modal {
    width: 80%;
} */
.package-form-label {
    font-size: 18px;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}