.SignUpForm-wrapper {
    display: flex;
    flex-direction: column;
    /* width: inherit; */
    justify-content: center;
    align-items: center;
}

.signup-form-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-bottom: 40px;
    padding-top: 40px;
}