.left-third {
    width: 33%;
    background: linear-gradient( 
        21deg
         , rgba(2,0,36,1) 0%, rgba(23,104,172,1) 0%, rgba(6,190,225,1) 100%);
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    display:flex;
    justify-content: center;
}

.right-two-thirds {
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    /* background-color: #f3f3f3; */
    border-radius: 0px 20px 20px 0px;
    padding-right: 30px;
    padding-left: 30px;
}

h1 {
    font-size: 30px;
}

h3 {
    font-weight: light;
}

input, select {
    height: 40px;
    /* border: none;
    border-radius: 10px; */
    margin-top: 30px;
    margin-bottom: 30px;
    /* text-align: center; */
    border:none;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    color: gray;
    /* margin: 10px; */
    /* width: 75%; */
}

label {
    margin-bottom: 10px;
}

input:focus {
    outline: none;
}

.street-input input {
    width: 100%;
}

select {
    margin-right: 5px;
    margin-left: 5px;
}

form {
    width: 70%;
}

.book-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
    height: 80vh;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 4px 5px 15px -3px rgb(0 0 0 / 42%);
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.book-btn {
    /* position: absolute;
    bottom: 55px;
    right: 132px; */
    border: none;
    border-radius: 10px;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background: linear-gradient( 
        21deg
         , rgba(2,0,36,1) 0%, rgba(23,104,172,1) 0%, rgba(6,190,225,1) 100%);
    color: #f3f3f3;
    box-shadow: 4px 5px 15px -3px rgb(0 0 0 / 42%);
    font-weight: bold;
}


button:hover {
    cursor: pointer;
}

/* .header {
    position: absolute;
    top: 70px;
} */

.city-street-zip-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.button-wrapper {
    display: flex;
    width: 80%;
    /* margin-top: 50px; */
    justify-content: flex-end;
}

.date-picker-wrapper {

}

.select-date {
    align-content: center;
    display: flex;
    justify-content: center;
}

.select-date input {
    width: inherit;
}

.client-info {
    display: flex;
    flex-direction: column;
}

#back-button {
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background: transparent;
    margin-right: 20px;
    color: #2f3236;
    border: 12x solid #2f3236;
    border-radius: 10px;
    box-shadow: 4px 5px 15px -3px rgb(0 0 0 / 42%);
    font-weight: bold;
}

.step {
    font: 15px Arial, sans-serif;
    width: 3em;
    height: 3em;
    box-sizing: initial;
    /* background: #fff; */
    border: 0.1em solid #f3f3f3;
    color: #f3f3f3;
    text-align: center;
    border-radius: 50%;
    line-height: 2em;
    box-sizing: content-box;
    margin: 10px; 
}

.current-step-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: -webkit-fill-available; */
    /* max-block-size: -webkit-fill-available; */
    text-align: center;
    height: 100%;
}

.active {
    background-color: #f3f3f3;
    color: #2f3236;
}

.confirmation-header {
    text-align: center;
}

.confirmation-header h1 {
    font-size: 30px;
}

.confirmation-header h2{
    padding-bottom: 20px;
    font-size: 18px;
}

.confirmation-header p {
    font-size: 16px;
    text-align: left;
    font-weight: 500;
}



