.top-nav-container{
    display: flex;
    background-color: #f3f3f3;
    justify-content: flex-end;
    /* padding-right: 25px; */
}

/* a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 25px 50px 15px 0px;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid transparent;
    color: white;
    background-color: blue;
    border-radius: 10px;
} */


a:hover {
    cursor: pointer;
}

a:visited{
    color:black;
}

.initials-span {
    background-color: black;
    color: white;
    border-radius: 100%;
    margin: 5px;
    padding: 9px;
}

.top-nav-btn {
    text-decoration: none;
    font-size: 18px;
    margin: 5px 50px 5px 0px;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid transparent;
    color: black;
    background-color: transparent;
    border-radius: 10px;
}

