.step {
    font: 14px Arial, sans-serif;
    width: 3em;
    height: 3em;
    box-sizing: initial;
    /* background: #fff; */
    /* border: 0.1em solid #f3f3f3; */
    /* color: #f3f3f3; */
    /* text-align: center; */
    border-radius: 50%;
    line-height: 3em;
    box-sizing: content-box;
    margin: 10px;
}

.current-step-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: -webkit-fill-available; */
    /* max-block-size: -webkit-fill-available; */
    text-align: center;
    height: 100%;
}

.active {
    background-color: #f3f3f3;

    border: none;
}